* {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 8vh;
    padding: 8px;
    background: #3C3B3F;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#605C3C), to(#3C3B3F));
    background: -o-linear-gradient(left, #605C3C, #3C3B3F);
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #b92b27;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#1565C0), to(#b92b27));
    background: -o-linear-gradient(left, #1565C0, #b92b27);
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 24px;
    text-align: center;
}

.certificate {
    width: 560px;
    height: 400px;
}

.foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100vw;
    height: 8vh;
    padding: 8px;
    background: #3C3B3F;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#605C3C), to(#3C3B3F));
    background: -o-linear-gradient(left, #605C3C, #3C3B3F);
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
}

@media (min-width: 1280px) {
    main {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        height: 1000px;
        font-size: 20px;
        text-align: center;
        

    }

    #my-image {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 960px) and (max-width: 1280px) {
    main {
        font-size: 16px;
        
    }

    #my-image {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 960px) {
    header {
        height: 8vh;
    }

    main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 1000px;
        font-size: 20px;
        

    }

    #my-image {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 810px) {
    header {
        height: 8vh;
    }

    main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 1000px;
        font-size: 22px;
        

    }

    #my-image {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 560px) and (max-width: 700px) {
    header {
        font-size: 18px;
    }
    main {
        font-size: 18px;
        

    }

    #my-image {
        width: 250px;
        height: 250px;
    }

    .foot {
        font-size: 18px;
    }

    a {
        font-size: 20px;
    }
}

@media (max-width: 560px) {
    header {
        font-size: 14px;
    }

    main {
        font-size: 16px;
        
    }

    #my-image {
        width: 220px;
        height: 220px;
    }

    .foot {
        font-size: 14px;   
    }

    a {
        font-size: 18px;
    }
}

@media (max-width: 380px) {
    header {
        font-size: 12px;
    }

    main {
        font-size: 15px;
        

    }
    
    a {
        font-size: 18px;
    }

}